src/backend/__pycache__
src/backend/*/__pycache__
src/backend/*/*/__pycache__
src/backend/*/*/*/__pycache__
# src/backend/data.db
src/backend/venv
src/backend/.venv
src/.DS_Store
src/backend/.DS_Store
src/backend/*/.DS_Store
src/backend/*/*/.DS_Store
src/backend/*/*/*/.DS_Store
src/backend/.pytest_cache
src/backend/*/.pytest_cache
src/backend/*/*/.pytest_cache
src/backend/*/*/*/.pytest_cache