{% extends 'base.html' %}
{% block title %}All Propoties{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

<h1>Booking Confirmation</h1>
<h1 id="msg">{{message}}</h1>
<form method="post">

            <div class="card-footer">
                <div>
                    <label for="date">Check in Date:</label>

                    <input type="date" id="date" name="date"
                           value="2022-07-22" class="title-product"
                           min="2022-01-01" max="2022-12-31">
                </div>
                 <div>
                    <label for="date2">Check out Date:</label>

                    <input type="date" id="date2" name="date2"
                           value="2022-07-22" class="title-product"
                           min="2022-01-01" max="2022-12-31">
                </div>
                <div>
                    <label class="input-label" for="guest_number">Guest Number</label>
                    <input class="input-field" name="guest_number" id="guest_number" required>
                </div>
                <div class="wcf-right">

                    <input type="submit" class="link" id="click2" value="Book"/></div>
            </div>
</form>

<!-- </ul> -->


{% endblock %}


