{% extends 'base.html' %}
{% block title %}Home{% endblock %} 
{% block head %}
<style>
    /* .grid {
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 90%; 
    grid-gap: 1em;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; 
    padding: 2em 1em;
    background: white;
    } */
</style>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user[1] }} !</h2>
<a href='/update_user'>update</a>


<h2>Here are all available products</h2>
<a href=''>create product</a>
<h4 id='message'>{{message}}</h4>
<div id="products">
    <ul class="grid">
        {% for product in products %}
        <li>
            <h4>prod: {{ product[2] }}  {{ product[3] }} <a href=''>update</a></h4>
        </li>
        {% endfor %}
    </ul>
</div>

<a href='/logout'>logout</a>
{% endblock %}
